{% load static %}
<section>
    <div class="maps">
        <div class="info_maps">
            <h2>Nossa Localização</h2>
            <h3><strong> Endereço:</strong></h3>
            <p> Av. de Concha Espina <br> 1, 28036 Madrid, Espanha</p>
            <h3><strong> Horario:</strong></h3>
            <p>09:00 até 17:00</p>
            <h3><strong> Dias:</strong></h3>
            <p>Segunda á Sexta</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d163448.15761307723!2d-3.807606855565401!3d40.42902260035988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422997800a3c81%3A0xc436dec1618c2269!2sMadrid%2C%20Madri%2C%20Espanha!5e0!3m2!1spt-BR!2sbr!4v1680409596256!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<footer>
    <div class="footer">
        <p style='font-size: 12px'>Aviso Importante: Este Site é Destinado Apenas para Fins de Aprendizado; Nenhum Produto Está à Venda</p>
        <p>Site desenvolvido por <strong>Gabriel Tessaro</strong></p>
        <div id='redes-sociais'>
            <a href="https://www.linkedin.com/in/gabriel-tessaro-b29728216/" target='_blank'><img src="../../media/icones/linkedin.png" alt=""> </img> </a>           
            <a href="https://github.com/Tessaro03" target='_blank'><img src="../../media/icones/github.png" alt=""> </img></a>      
        </div>
    </div>
    
</footer>