{% load static %}
<header>
    
    <div id='header'>
        <div id='header-alinhado'>
            <h1 id="logo"><a href="{% url 'index' %}">CarToop</a></h1>
            <div class="burguer">
                <i id="burguer" class="material-symbols-outlined">view_headline</i>
            </div>
        </div>
        <div id='busca'>
            <form class='buscador' action="{% url 'buscar' %}">
                <input class='buscar' type="search" name='buscar' placeholder='Busque aqui..'>
                <button id='botao_buscar' type="submit"><span class="material-symbols-outlined">search</span></button>
            </form>
        </div>
    </div>
    
    <div class="menu">
            <a href="{% url 'estoque' %}"><strong>Estoque</strong></a>
        {% if not user.is_authenticated %}
            <a href="{% url 'login'%}"><strong>Login</strong></a>
            <a href="{% url 'cadastro'%}"><strong>Cadastrar-se</strong></a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'adicionar_veiculo'%}"><strong>Anunciar</strong></a>
            <a href="{% url 'perfil'%}"><strong>Perfil</strong></a>
        {% endif %}     
        {% if user.is_authenticated and user.is_superuser %}
            <a href="http://127.0.0.1:8000/admin/"><strong>Admin</strong></a>
        {% endif %}           
    </div>
   
</header>