{% extends 'base.html' %}
{% load static %}
{% block content%}   


<div style='text-align: center'>

    <form id='editar-carro' action={%url 'adicionar_veiculo'  %} method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <div id='formulario-edicao'>
    {% for field in form.visible_fields %}
        {% if field.label in inputs %}
            <div class='inputs'>
                <label class='etiqueta' for="{{form.id_for_label}}">
                    <strong>{{ field.label }}</strong>
                </label> <br>
                {{ field }}
            </div>
        {% else %}
            <div>
                <label class='etiqueta' for="{{form.id_for_label}}">
                        <strong>{{ field.label }}</strong>
                    </label> <br>
                {{ field }}
            </div>
        {% endif %}
    {% endfor %}
        <div>
            <button type='submit' id='confirma'> <strong>Adicionar</strong> </button>
        </div>
    </div>
    </form>

</div>

{% endblock %}