{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href={% static "css/style-produto.css" %}>
    
    <link rel="stylesheet" href={% static "css/style-index.css"%}>
    <link rel="stylesheet" href={% static "css/style-estoque.css"%}>
    <link rel="stylesheet" href={% static "css/style-forms.css" %}>
    <link rel="stylesheet" href={% static "css/style-telas.css" %}>
    <link rel="stylesheet" href={% static "css/style-perfil.css" %}>

    <link rel="shortcut icon" href="../../media/icones/carro.png" sizes="32x32">
    <title>CarToop</title>
</head>
<body>
    {% include 'partials/_header.html' %}
    {% block content %} {% endblock %}
    {% include 'partials/_footter.html'%}
</body>
<script src={% static "js/script.js" %}></script>